body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: "Vollkorn", "sans-serif";
    margin: 0px;
 
 
   
}

h1, h2 {
    font-family: "Vollkorn";
    color: white;
    background: url('../imgs/underline.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 20px;
    background-size: 300px;
}

/* Top section ghost */

.ghost {
    width: 400px;
    transition: opacity 3s, transform 1s;
    transition-delay: .5s;
}

.ghost:hover {
    opacity: 0;
    transform: translateX(150px) ;
}

/* tours section */

#tours article {
    position: relative;
}


#tours .overlay {
   position: absolute;
   top: 0;
   left: 0; 
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,.8);
   display: flex;
   flex-direction: column;
   justify-content: center;
   opacity: 0;
   transition: opacity .5s;
}

#tours .overlay:hover {
    opacity: 1;
}

@media (max-width: 870px) {
    #tours .overlay {
        opacity: 1;
        position: relative;
    }
}

#tours img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#tours {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

/* ghost of the month section */

#boo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: right;
    border-radius: 100%;
    filter:blur(4px);
    transition: filter .5s, border-radius .5s;
}

#boo:hover {
 filter: blur(0);
 border-radius: 0;
}

/* form section */

#book {
    /* background: linear-gradient(first color, second color), background image url */
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0)), url('../imgs/ghost-bg.jpeg');
    padding-bottom: 200px;
   
}

#book form {
   
    width: 500px;
    text-align: left;
    margin:auto;
    font-size: 20px;
}
 
#book input, #book select {
  
    height: 30px;
   
}
 
#book input, #book select, #book textarea {
    font-family: 'Vollkorn';
    font-size: 16px;
    padding: 5px;
    width: 500px;
   
}

#book label {
    display: inline-block;
    padding-top: 20px;
}

#book #message {
    height: 200px;
    margin-bottom: 30px;
    
}

#book button {
    background-color: black;
    color: white;
    font-family: "Vollkorn";
    font-size: 24px;
    padding: 10px 30px;
    border-width: 0px;
    transition: background-color .5s, color .5s;
}

#book button:hover {
    background-color: orange;
    color: black;
} 


#bottom-border {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


